
.course-form{
    display: flex;
    margin: 10px;
}
.course-button{

    cursor: pointer;
    display: flex;
    justify-content: center;
}
.MuiBox-root .css-1gyr8kh{
    max-width: 100%;
    width: 100%;
}