.box{
    float: left;
    width: 48%;
    
}
.box img{
    width: 100%;
    height: 100%;
}
.box form{
    width: 100%;
  
}
/* .box-form{
    float: left;
    margin-top: 60px;
    flex-wrap: wrap;
} */


.content-circle .box-circle{
    display: flex;
    flex-flow: wrap row;
    flex-grow: center;
    
}
.box-circle img{
    width: 200px;
    height: 200px;
    background-color: #1c75bb40;
    border-radius: 100px;
    box-shadow:5px 0px 0px 0px hsl(39deg 100% 68% / 51%)
   
}
.footer{
    background-color:#1c75bb40;
    float: left;
  
    width: 100%;  
    color: white;
    
}
.box-border{
    width: 100%;
  
}
.footer-square{
    float: left;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.footer-square .box-footer{
    display: flex;
    flex-flow: wrap row;
    flex-grow: center;
    border-radius: 10px;
    background-color: #fc73162b;
    box-shadow: 6px 6px 0px 0px #ffffff73;
    
}
.box-footer{
    width: 400px;
    padding: 20px;
    
}
.social-network{
    float: left;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.social-network i{
    background-color: black;
    font-size: large;
    width: 40px;  
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
/* 
.content .box{
    flex-direction:row;
    width: 100%;
    height: 200px;
    background-color: gray;
    margin-top: 10px;
    
} */
/* .box-footer{
    width: 40%;   
    height: 400px;  
    margin: 10px;
    float: left;
}
.box-footer1{
    width: 50%;  
    height: 100%; 
    margin: 10px;
    text-align: justify;
   float: left;
} */
